---
BasedOnStyle: LLVM
AlignArrayOfStructures: None
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
IndentCaseLabels: true
InsertBraces: true
InsertNewlineAtEOF: true
NamespaceIndentation: All
PointerAlignment: Middle
QualifierAlignment: Left
SortIncludes: Never
SpaceBeforeCpp11BracedList: true
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  InCStyleCasts: true
  Other: true
SpacesInSquareBrackets: true
Standard: c++14
TabWidth: 2